*{
background-color: black;
color:white;
}
.title{
margin-top: 30px;
font-size: 3em;
font-weight: bold;
}


.list{
    display: flex;
    align-items: center;
list-style-type: circle;
margin-bottom:1.5rem;
border: 4px double lightpink;
height: 65px;
padding-left: 20px;

}
ul{
display: flex;
flex-direction :column;
border:3px double lightblue;

padding: 4rem;
margin-top: 3rem;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
}

