.title{
    font-weight: bold;
    margin-top: 30px;
    font-size: 3rem;
}
.subtitle{
color:goldenrod;
font-size: 22px;
}


*{
font-size: 22px;
color:white;
background-color: black;
}
.container-blog-page{
    margin-top: 3rem;
border: 4px double goldenrod;
padding: 0px 1.5rem 0px 1.5rem;
}

