{% extends "base.html" %}

{% block content %}

    <div class="imgContainer">
  <img src="https://media.tenor.com/NeJfHqkmdMIAAAAi/tux-linux-penguin.gif" width="90" class="linux"  alt="linux" />

  <img  src="https://www.dwarmstrong.org/img/arch-logo2.png" class="arch" alt="arch" />
    </div>
<h1 class="title">
  This is my webiste for blogs and notes made with Zola.
</h1>
<p>Click <a href="{{ get_url(path='@/blog/_index.md') }}">here</a> to see my posts.</p>
<p>Click <a href="{{ get_url(path='@/projects/_index.md') }}">here</a> to see my projects notes.</p>
{% endblock content %}
